.warning-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.warning-popup {
  background: #fff;
  padding: 20px;
  width: 420px;
  max-height: 80vh;       /* Giới hạn chiều cao popup */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px #444;
  display: flex;
  flex-direction: column;
}

@keyframes popupShow {
  from { transform: scale(0.8); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

.warning-popup h2 {
  margin-bottom: 10px;
  color: #d9534f;
  font-weight: bold;
}

.warning-popup ul {
  margin: 0;
  padding: 0 15px;
  list-style: none;
  flex: 1;
  overflow-y: auto;        /* Cho phép cuộn */
  max-height: 60vh;
}


.warning-popup li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.popup-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.btn-closee {
  background: #999;
  color: #fff;
  padding: 8px 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn-seen {
  background: #d9534f;
  color: white;
  padding: 8px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
