.product-page {
  background: #f7f8fa;
  padding: 20px;
  border-radius: 12px;
  margin-left: 180px;
  width: 100%;
  height: 98%;
  box-sizing: border-box;
}

/* === TOOLBAR === */
.product-toolbar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.product-toolbar input {
  flex: 1;
  padding: 8px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 20px;
}

.product-toolbar select {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-add {
  background: #0b63d6;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-weight: 500;
}

/* === TABLE === */
.product-table {
  width: 100%;
  background: white;
  overflow: hidden;
  border-collapse: collapse;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

.product-table th,
.product-table td {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.avatar-placeholder {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #ccc;
}

/* === STATUS DOT === */
.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.status-dot.active {
  background: #28a745;
}

.status-dot.inactive {
  background: #dc3545;
}

/* === ACTION ICONS === */
.action-icons {
    
    width: 28px;
  height: 28px;
  display: flex;
  gap: 10px;
}

.action-icons .edit {
  color: #0b63d6;
  cursor: pointer;
}

.action-icons .delete {
  color: #d9534f;
  cursor: pointer;
}

/* === PAGINATION === */
.pagination {
  display: flex;
  gap: 6px;
  margin-top: 10px;
  margin-right: 100px;
  justify-content: flex-end;
  align-items: center;
}

.page-btn {
  border: none;
  background: white;
  border: 1px solid #ddd;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.page-btn:hover {
  background: #0b63d6;
  color: white;
}
